<!DOCTYPE html>
<html>
   <head>
      <title>Request Header Parser Microservice</title>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Quicksand:300,700" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>

      <div class="container">
        <h3 class="title"><b>API Project: Request Header Parser Microservice</b></h3>
        <h4 class="subtitle">User Stories</h4>
          <p>One of freeCodeCamp’s back end projects is to create a <a href="https://learn.freecodecamp.org/apis-and-microservices/apis-and-microservices-projects/request-header-parser-microservice/">request header parser microservice</a> with the following user stories:</p>
          <ul class="user-stories">
            <li>I can get the IP address, preferred languages (from header <code>Accept-Language</code>)
  and system infos (from header <code>User-Agent</code>) for my device.</li>
          </ul>
        <h4 class="subtitle">Example Usage:</h4>
          <ul>
            <li><code>GET [project url]/api/whoami</code></li>
          </ul>

        <h4 class="subtitle">Example Output:</h4>
          <ul>
            <li><code>{"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5",
"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code></li>
          </ul>
      </div>
   </body>

</html>